<header>
  <!-- container de desconto -->
  <div class="styled-discount-box">
    <span class="styled-discount-text">
      Ganhe
      <mark class="styled-discount-value"> R$10,00 </mark>
      de desconto no seu primeiro pedido. Utilize o cupom
      <em class="styled-discount-cupon"> DESCONTO10 </em>
    </span>
  </div>

  <div class="container-fluid px-4 py-3 px-lg-5 order-1">
    <div class="row align-items-center justify-content-between gx-4 gy-3">

      <!-- Menu Mobile -->
      <div id="menu-mobile-container" class="col-2 col-sm-1 col-md-1 p-0">
        <nav id="styled-menu-mobile" class="navbar">
          <button id="button-menu-mobile" class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </nav>
      </div>

      <!-- Logo -->
      <div class="col-auto order-2">
        <img width="150" height="25" src="../images/logo.png" alt="avanti logo" />
      </div>

      <!-- Input de pesquisa -->
      <div class="col-12 col-sm-12 col-md-12 col-lg-7 col-xl-7 px-0 px-lg-5 order-5 order-lg-3">
        <div class="search-wrapper">
          <input id="search-input" type="text" class="form-control" placeholder="Digite aqui o que você procura" />
          <i class="bi bi-search search-icon"></i>
        </div>
        <p id="search-result" class="search-result"></p>
      </div>

      <!-- Usuario Perfil -->
      <div class="col-2 col-sm-1 col-md-1 col-lg- col-xl-3 d-none d-lg-flex justify-content-end order-4">
        <div class="user-box">
          <i id="styled-user-icon" class="bi bi-person"></i>
          <div class="user-info">
            <p class="mb-0">Olá,</p>
            <p class="mb-1">Nome cliente!</p>
          </div>
        </div>
      </div>

      <!-- Carrinho -->
      <div class="col-auto order-4">
        <a href="#" class="btn position-relative p-0 m-0">
          <i id="styled-cart-icon" class="bi bi-cart3"></i>
          <span class="position-absolute top-0 translate-middle badge rounded-pill bg-primary">
            2
          </span>
        </a>
      </div>

      <!--Todas as categorias botão - desktop -->
      <div class="col-lg-3 col-xl-5 w-auto d-none d-lg-block order-5">
        <div id="all-category" class="all-category">
          <button id="all-category-button" class="all-category-button">
            <i class="bi bi-list me-2 fs-5"></i>
            <strong>Todas as Categorias</strong>
          </button>

          <!-- Dropdown -->
          <div id="dropdown-all-category" class="dropdown-all-category">
            <!-- Departamentos coluna (renderiza aqui apartir do id no javascript) -->
            <!-- categorias colunas (renderiza aqui apartir do id no javascript) -->

            <!-- Imagem -->
            <div class="image-container mb-1 order-2">
              <img width="236" height="298" src="../images/avantiCoffe.png" alt="" />

              <div class="card-overlay-image-all-category">
                <p>
                  Confira os<br />Produtos<br /><strong>Que acabaram<br />De chegar</strong>
                </p>
                <button class="card-button">VER TODOS</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Departamentos botões - desktop -->
      <div class="col-lg-3 col-xl-5 w-auto d-none d-lg-block order-5">
        <div id="all-department" class="all-department">
          <button id="all-department-button" class="all-department-button">
            Departamento
          </button>

          <!-- Dropdown -->
          <div id="dropdown-department" class="dropdown-department">
            <div class="department-title">
              <h4>Departamento</h4>
            </div>

            <div id="dropdown-department-category" class="wrapper-department-box order-1">
              <!-- categorias colunas (renderiza aqui apartir do id no javascript) -->

              <!-- Imagem -->
              <div class="image-container mb-1 order-2">
                <img width="236" height="298" src="../images/avantiCoffe.png" alt="" />

                <div class="card-overlay-image-all-department">
                  <p>
                    Confira os<br />Produtos<br /><strong>Que acabaram<br />De chegar</strong>
                  </p>
                  <button class="card-button">VER TODOS</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Departamentos botões - desktop -->
      <div class="col-lg-3 col-xl-5 w-auto d-none d-lg-block order-5">
        <div class="menu-Departamento" class="menu-Departamento">
          <button id="all-department-button" class="all-department-button">
            Departamento
          </button>
        </div>
      </div>

      <div class="col-lg-3 col-xl-5 w-auto d-none d-lg-block order-5">
        <div id="menu-Departamento" class="menu-Departamento">
          <button id="all-department-button" class="all-department-button">
            Departamento
          </button>
        </div>
      </div>

      <div class="col-lg-3 col-xl-5 w-auto d-none d-lg-block order-5">
        <div id="menu-Departamento" class="menu-Departamento">
          <button id="all-department-button" class="all-department-button">
            Departamento
          </button>
        </div>
      </div>

      <div class="col-lg-3 col-xl-5 w-auto d-none d-lg-block order-5">
        <div id="menu-Departamento" class="menu-Departamento">
          <button id="all-department-button" class="all-department-button">
            Departamento
          </button>
        </div>
      </div>

      <div class="col-lg-3 col-xl-5 w-auto d-none d-lg-block order-5">
        <div id="menu-Departamento" class="menu-Departamento">
          <button id="all-department-button" class="all-department-button">
            Departamento
          </button>
        </div>
      </div>

      <div class="col-lg-3 col-xl-5 w-auto d-none d-lg-block order-5">
        <div id="menu-Departamento" class="menu-Departamento">
          <button id="all-department-button" class="all-department-button">
            Departamento
          </button>
        </div>
      </div>

      <div class="col-lg-3 col-xl-5 w-auto d-none d-lg-block order-5">
        <div id="menu-Departamento" class="menu-Departamento">
          <button id="all-department-button" class="all-department-button">
            Departamento
          </button>
        </div>
      </div>
    </div>
  </div>
</header>