<section class="banner">
    <img class="background" src="../images/imageBackground.png" alt="Background" />
    <div class="banner-content">
        <img class="chair-image" src="../images/RectangleChair.png" alt="Cadeira com roupas" />
        <div class="sale-text">
            <h1 class="superSale-title">
                <strong>SUPER</strong>
                <span>SALE</span>
            </h1>
            <p class="text-desktop">
                ITENS SELECIONADOS COM ATÉ
            </p>
            <span class="text-mobile">
                <span>SELECTED ITEMS</span>
                <span>UP TO</span>
            </span>
            <p class="discount-text">
                50%OFF
            </p>
        </div>
    </div>
</section>