<section class="product-detail">
    <div class="product-detail-content">

        <img class="image-product-detail d-block d-lg-none" src="../images/productDetail.png" alt="productDetail" />

        <div class="text-product-detail-box">
            <h1>Lorem Ipsum</h1>

            <div class="group-icon-text">
                <div class="icon">
                    <i class="bi bi-geo-alt"></i>
                </div>
                <p>Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                    Donec
                    quam felis,
                    ultricies nec, pellentesque eu, pretium quis, sem.</p>
            </div>
            <div class="group-icon-text">
                <div class="icon">
                    <i class="bi bi-geo-alt"></i>
                </div>
                <p>Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                    Donec
                    quam felis,
                    ultricies nec, pellentesque eu, pretium quis, sem.</p>
            </div>
            <div class="group-icon-text">
                <div class="icon">
                    <i class="bi bi-geo-alt"></i>
                </div>
                <p>Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                    Donec
                    quam felis,
                    ultricies nec, pellentesque eu, pretium quis, sem.</p>
            </div>
        </div>

        <div class="image-product-detail-box d-none d-lg-block">
            <img src="../images/productDetail.png" alt="productDetail" />
        </div>
    </div>

</section>