<footer class="footer">
    <div class="footer-first-content">

        <div class="group-image-avanti">
            <img class="image-logo-footer" src="../images/logo.png" alt="logo avanti" />
            <img class="image-mediaSocial-footer" src="../images/socialMedia.png" alt="redes sociais" />
        </div>

        <!-- navegação Institucional, Central de ajuda e Atendimento - desktop -->
        <div class="first-text-content d-none d-lg-flex">
            <div class="institutional-column">
                <h4 class="institutional-column-title">Institucional</h4>
                <ul>
                    <li>
                        <h5>Sobre Nós</h5>
                    </li>
                    <li>
                        <h5>Nossas Lojas</h5>
                    </li>
                    <li>
                        <h5>Privacidade e Segurança</h5>
                    </li>
                    <li>
                        <h5>Termos e Condições</h5>
                    </li>
                </ul>
            </div>

            <div class="helpCenter-column">
                <h4 class="helpCenter-column-title">Central de ajuda</h4>
                <ul>
                    <li>
                        <h5>Fale Conosco</h5>
                    </li>
                    <li>
                        <h5>Frete e Entrega</h5>
                    </li>
                    <li>
                        <h5>Trocas e Devoluções</h5>
                    </li>
                    <li>
                        <h5>Formas de Pagamento</h5>
                    </li>
                    <li>
                        <h5>FAQ</h5>
                    </li>
                </ul>
            </div>

            <div class="service-column">
                <h4 class="service-column-title">Atendimento</h4>
                <ul>
                    <ul>
                        <li>
                            <h5>
                                <strong>Telefone:</strong>
                                (00) 1234-5678
                            </h5>
                        </li>
                        <li>
                            <h5><strong>E-mail:</strong> exemplo@eemplo.com.br</h5>
                        </li>
                        <li>
                            <h5><strong>Horario de atendimento:</strong></h5>
                            <h5>Segunda a Sábado: 07h00 às 23h00 </h5>
                            <h5>Domingos e Feriados: 07h00 às 21h00</h5>
                        </li>
                    </ul>
                </ul>
            </div>
        </div>

        <!-- botões Institucional, Central de ajuda e Atendimento dropdown - mobile -->
        <div class="accordion w-100 d-block d-lg-none" id="footer-accordion">
            <div class="accordion-item">
                <h5 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne">
                        Institucional
                    </button>
                </h5>
                <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#footerAccordion">
                    <div class="accordion-body">
                        <h5 class="accordion-text">Sobre Nós</h5>
                        <h5 class="accordion-text">Nossas Lojas</h5>
                        <h5 class="accordion-text">Privacidade e Segurança</h5>
                        <h5 class="accordion-text">Termos e Condições</h5>
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h5 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseTwo">
                        Central de ajuda
                    </button>
                </h5>
                <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#footerAccordion">
                    <div class="accordion-body">
                        <h5 class="accordion-text">Fale Conosco</h5>
                        <h5 class="accordion-text">Frete e Entrega</h5>
                        <h5 class="accordion-text">Trocas e Devoluções</h5>
                        <h5 class="accordion-text">Formas de Pagamento</h5>
                        <h5 class="accordion-text">FAQ</h5>
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h5 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseThree">
                        Atendimento
                    </button>
                </h5>
                <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#footerAccordion">
                    <div class="accordion-body">
                        <h5 class="accordion-text"><strong>Telefone:</strong> (00) 1234-5678</h5>
                        <h5 class="accordion-text"><strong>E-mail:</strong> exemplo@eemplo.com.br</h5>
                        <h5 class="accordion-text"><strong>Horario de atendimento:</strong></h5>
                        <h5 class="accordion-text">Segunda a Sábado: 07h00 às 23h00</h5>
                        <h5 class="accordion-text">Domingos e Feriados: 07h00 às 21h00</h5>
                    </div>
                </div>
            </div>
        </div>
        <!-- imagem badeniras - desktop -->
        <img class="image-creditCards-footer d-none d-lg-block" src="../images/creditCardsLogo-large.png"
            alt="pagamentos" />
        <!-- imagem badeniras - mobile -->
        <img class="image-creditCards-footer d-block d-lg-none" src="../images/creditCardsLogo-small.png"
            alt="pagamentos" />
    </div>

    <div class="footer-second-content">
        <div class="footer-text-box">
            <!-- texto - mobile -->
            <p class="footer-text d-block d-lg-none">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
                laoreet dolore
                magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci.
            </p>
            <!-- texto - desktp -->
            <p class="footer-text d-none d-lg-block">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
                laoreet dolore
                magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper
                suscipit lobortis nisl
                ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse
                molestie
                consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim
                qui blandit
                praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
            </p>
        </div>

        <img class="image-partnershipsLogo-footer" src="../images/partnershipsLogo.png" alt="parcerias" />
    </div>
</footer>