.contact {
  width: 100%;
}

.contact-container {
  position: relative;
  height: 400px;
  overflow: hidden;
  margin-bottom: 30px;
}

.contact-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.contact-text-content {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.text-contact-box {
  background-color: #005cff;
  padding: 20px 30px;
  text-align: center;
  width: 100%;
}

.text-contact-box p {
  font-size: 30px;
  font-weight: 400;
  line-height: 140%;
  color: white;
  margin: 0;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.form-content {
  width: 80%;
  display: flex;
  flex-direction: column;
  padding: 50px 50px;
  border-radius: 8px;
  background-color: #dedede;
  text-align: center;
}

.newsletter-title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 15px;
  line-height: 100%;
}

.input-name,
.input-email {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  width: 100%;
}

.checkbox-container {
  width: fit-content;
  font-size: 12px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 5px;
}

.submit-button {
  background-color: #005cff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  width: 100%;
}

@media (max-width: 768px) {
  .text-contact-box p {
    font-size: 16px;
    font-weight: 600;
    line-height: 140%;
    color: white;
    margin: 0;
  }

  .newsletter-title {
    font-size: 16px;
    font-weight: 700;
    line-height: 100%;
    margin-bottom: 30px;
  }

  .form-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 30px 12px;
    border-radius: 8px;
    background-color: #dedede;
    text-align: center;
  }

  .checkbox-container {
    display: block;
    font-size: 11px;
    font-weight: 700;
  }
}
