<section class="contact">
    <div class="contact-container">
        <img class="contact-background" src="../images/imageAvanti.png" alt="imageAvanti" />
        <div class="contact-text-content">
            <div class="text-contact-box">
                <p>Entre em contato conosco e verifique a disponibilidade para sua região!</p>
            </div>
        </div>
    </div>
    <div class="form-container">
        <h2 class="newsletter-title">Cadastre-se na nossa <span style="color: #005cff;">newsletter</span></h2>
        <div class="form-content">
            <form>
                <div class="container-fluid px-2">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3 px-2 py-2">
                            <input class="input-name" type="text" placeholder="Digite seu nome" />
                        </div>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3 px-2 py-2">
                            <input class="input-email" type="email" placeholder="Digite seu e-mail" />
                        </div>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 w-auto px-0 px-xl-2 py-2">
                            <label class="checkbox-container">
                                <input class="form-check-input" type="checkbox" value="" id="checkChecked" />
                                Estou de acordo com a <a href="#">Política de Privacidade</a>
                            </label>
                        </div>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-2 px-2 py-2">
                            <button class="submit-button" type="button" class="btn btn-primary">Cadastrar</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>