<section class="product-highlight">
    <div class="product-highlight-content">
        <div class="image-product-box">
            <img src="../images/Free_Mug_Mockup_2.png" alt="Free_Mug_Mockup_2" />
        </div>
        <div class="text-product-box">
            <h1>Lorem Ipsum</h1>
            <p>Duis consectetur metus nec lacus auctor dignissim. Mauris vitae finibus dui. Mauris laoreet lacus ut
                eleifend viverra.
                Cras efficitur volutpat dui, in lobortis metus lacinia sit amet. Sed lacinia pharetra magna, vel
                pulvinar ligula
                hendrerit a. Maecenas fringilla porttitor tortor eget lacinia. Donec sollicitudin euismod orci,
                auctor fringilla magna
                consequat interdum. Fusce sagittis elit a libero commodo egestas efficitur id augue.</p>
            <p>Duis consectetur metus nec lacus auctor dignissim. Mauris vitae finibus dui. Mauris laoreet lacus ut
                eleifend viverra.
                Cras efficitur volutpat dui, in lobortis metus lacinia sit amet. Sed lacinia pharetra magna, vel
                pulvinar ligula
                hendrerit a. Maecenas fringilla porttitor tortor eget lacinia. Donec sollicitudin euismod orci,
                auctor fringilla magna
                consequat interdum. Fusce sagittis elit a libero commodo egestas efficitur id augue.</p>
        </div>
    </div>

</section>